.UIContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .newGame {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }