.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UIContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}