.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UIContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.UIContainer__legend {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  text-align: left;
}

.UIContainer button {
  max-width: 200px;
  margin-bottom: 12px;
}

.btnGreen {
  background-color: #00ff00;
}
.btnOrange {
  background-color: #ff9900;
}
.btnRed {
  background-color: #ff0000;
}

.newGame {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.newGame__lostScreen {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}
